[{
  :name   "test 1"
  :input  {:board [["t" "h" "i" "s" "i" "s" "a"]
                   ["s" "i" "m" "p" "l" "e" "x"]
                   ["b" "x" "x" "x" "x" "e" "b"]
                   ["x" "o" "g" "g" "l" "x" "o"]
                   ["x" "x" "x" "D" "T" "r" "a"]
                   ["R" "E" "P" "E" "A" "d" "x"]
                   ["x" "x" "x" "x" "x" "x" "x"]
                   ["N" "O" "T" "R" "E" "-" "P"]
                   ["x" "x" "D" "E" "T" "A" "E"]]
           :word  "this"}
  :output true}
 {:name   "test 2"
  :input  {:board [["t" "h" "i" "s" "i" "s" "a"]
                   ["s" "i" "m" "p" "l" "e" "x"]
                   ["b" "x" "x" "x" "x" "e" "b"]
                   ["x" "o" "g" "g" "l" "x" "o"]
                   ["x" "x" "x" "D" "T" "r" "a"]
                   ["R" "E" "P" "E" "A" "d" "x"]
                   ["x" "x" "x" "x" "x" "x" "x"]
                   ["N" "O" "T" "R" "E" "-" "P"]
                   ["x" "x" "D" "E" "T" "A" "E"]]
           :word  "not"}
  :output false}
 {:name   "test 3"
  :input  {:board [["t" "h" "i" "s" "i" "s" "a"]
                   ["s" "i" "m" "p" "l" "e" "x"]
                   ["b" "x" "x" "x" "x" "e" "b"]
                   ["x" "o" "g" "g" "l" "x" "o"]
                   ["x" "x" "x" "D" "T" "r" "a"]
                   ["R" "E" "P" "E" "A" "d" "x"]
                   ["x" "x" "x" "x" "x" "x" "x"]
                   ["N" "O" "T" "R" "E" "-" "P"]
                   ["x" "x" "D" "E" "T" "A" "E"]]
           :word  "board"}
  :output true}
 {:name   "test 4"
  :input  {:board [["t" "h" "i" "s" "i" "s" "a"]
                   ["s" "i" "m" "p" "l" "e" "x"]
                   ["b" "x" "x" "x" "x" "e" "b"]
                   ["x" "o" "g" "g" "l" "x" "o"]
                   ["x" "x" "x" "D" "T" "r" "a"]
                   ["R" "E" "P" "E" "A" "d" "x"]
                   ["x" "x" "x" "x" "x" "x" "x"]
                   ["N" "O" "T" "R" "E" "-" "P"]
                   ["x" "x" "D" "E" "T" "A" "E"]]
           :word  "simple"}
  :output true}
 {:name   "test 5"
  :input  {:board [["t" "h" "i" "s" "i" "s" "a"]
                   ["s" "i" "m" "p" "l" "e" "x"]
                   ["b" "x" "x" "x" "x" "e" "b"]
                   ["x" "o" "g" "g" "l" "x" "o"]
                   ["x" "x" "x" "D" "T" "r" "a"]
                   ["R" "E" "P" "E" "A" "d" "x"]
                   ["x" "x" "x" "x" "x" "x" "x"]
                   ["N" "O" "T" "R" "E" "-" "P"]
                   ["x" "x" "D" "E" "T" "A" "E"]]
           :word  "REPEATED"}
  :output false}
 {:name   "test 6"
  :input  {:board [["t" "h" "i" "s" "i" "s" "a"]
                   ["s" "i" "m" "p" "l" "e" "x"]
                   ["b" "x" "x" "x" "x" "e" "b"]
                   ["x" "o" "g" "g" "l" "x" "o"]
                   ["x" "x" "x" "D" "T" "r" "a"]
                   ["R" "E" "P" "E" "A" "d" "x"]
                   ["x" "x" "x" "x" "x" "x" "x"]
                   ["N" "O" "T" "R" "E" "-" "P"]
                   ["x" "x" "D" "E" "T" "A" "E"]]
           :word  "NOTRE-PEATED"}
  :output true}
 {:name   "test 7"
  :input  {:board [["y" "g" "f" "y" "e" "i"]
                   ["c" "o" "r" "p" "o" "u"]
                   ["j" "u" "z" "s" "e" "l"]
                   ["s" "y" "u" "r" "h" "p"]
                   ["e" "a" "e" "g" "n" "d"]
                   ["h" "e" "l" "s" "a" "t"]]
           :word  "yours"}
  :output true}
 {:name   "test 8"
  :input  {:board [["y" "g" "f" "y" "e" "i"]
                   ["c" "o" "r" "p" "o" "u"]
                   ["j" "u" "z" "s" "e" "l"]
                   ["s" "y" "u" "r" "h" "p"]
                   ["e" "a" "e" "g" "n" "d"]
                   ["h" "e" "l" "s" "a" "t"]]
           :word  "sana"}
  :output false}
 {:name   "test 9"
  :input  {:board [["y" "g" "f" "y" "e" "i"]
                   ["c" "o" "r" "p" "o" "u"]
                   ["j" "u" "z" "s" "e" "l"]
                   ["s" "y" "u" "r" "h" "p"]
                   ["e" "a" "e" "g" "n" "d"]
                   ["h" "e" "l" "s" "a" "t"]]
           :word  "san"}
  :output true}
 {:name   "test 10"
  :input  {:board [["y" "g" "f" "y" "e" "i"]
                   ["c" "o" "r" "p" "o" "u"]
                   ["j" "u" "z" "s" "e" "l"]
                   ["s" "y" "u" "r" "h" "p"]
                   ["e" "a" "e" "g" "n" "d"]
                   ["h" "e" "l" "s" "a" "t"]]
           :word  "danger"}
  :output true}
 {:name   "test 11"
  :input  {:board [["y" "g" "f" "y" "e" "i"]
                   ["c" "o" "r" "p" "o" "u"]
                   ["j" "u" "z" "s" "e" "l"]
                   ["s" "y" "u" "r" "h" "p"]
                   ["e" "a" "e" "g" "n" "d"]
                   ["h" "e" "l" "s" "a" "t"]]
           :word  "help"}
  :output true}
 {:name   "test 12"
  :input  {:board [["y" "g" "f" "y" "e" "i"]
                   ["c" "o" "r" "p" "o" "u"]
                   ["j" "u" "z" "s" "e" "l"]
                   ["s" "y" "u" "r" "h" "p"]
                   ["e" "a" "e" "g" "n" "d"]
                   ["h" "e" "l" "s" "a" "t"]]
           :word  "vomit"}
  :output false}]